body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .slider {
    position: relative;
    width: 80%;
    max-width: 600px;
  }
  
  .slider img {
    width: 100%;
    cursor: pointer;
  }
  
#sliderImage {
    max-width: 90%; /* Scale the image to fill up to 90% of the container width */
    max-height: 80vh; /* Prevent the image from being taller than 80% of the viewport height */
    width: auto; /* Maintain the aspect ratio */
    height: auto; /* Maintain the aspect ratio */
    cursor: pointer; /* Show pointer to indicate the image is clickable */
    user-select: none; /* Prevent text selection on double-click */
}
